
body{
	margin:0px;
}
.header{
	background:black;
	height: 70px;
	position: fixed;
	top:0;
	width: 110%;
	margin: 0 auto;

}

.header-contianer{
	width: 2040px;

	
	
	


	
}
.header-logo{
	float: left;
	margin-left: 30px;
	
}


.logo-text{
	color:white;
	float:left;
	
}
.logo-text h1{
	font-size: 20px;
	margin-top:3px;
	margin-bottom: 0px;
	margin-left: 5px;	
}
.logo-text p{
	margin:0px 5px;
	font-family: cursive;
}
.header-bt-box{
	float:right;
	font-size: 20px;
	margin-right: 30px;
	
}
.header-bt-box a{
	display: inline-block;
	background: rgba(0,0,0,1);
	padding: 15px 20px;
	margin: 5px 0px;
	color:white;
}
.header-bt-box a:hover{
	background: rgba(128,128,128,0.8);
	transition: all 1s;
}

/*ここから内容のCSSです*/

.high-light-container{
	width: 1170px;
	margin: 0 auto;
	height: 700px;
	background-image:url(vancouver-at-night-cityscapes-modern-buildings-nightscapes-northern-america-vancouver-besthqwallpapers.com-1152x864.jpg);
	background-size:cover;
	
}

.high-light-text{
	padding-top: 100px;
	text-align: center;
	color:white;
}

.high-light-text h1{
	font-size: 50px;
	letter-spacing: 2px;
	
}
.high-light-text p{
	font-size:20px;
	letter-spacing: 2px;
}